quarkus:
  datasource:
    db-kind: mariadb
    username:
    password:
    jdbc:
      url: jdbc:mariadb://127.0.0.1:3306/plexbot
  hibernate-orm:
    database:
      generation: update
  log:
    level: ERROR


####################
### Bot Settings ###
####################
bot:
  # The bot token, this is obtained from the Discord Developer Portal
  token:

  # The name of the bot displayed in all messages
  name: Plexbot

  # The prefix the bot will use to listen for commands. Must be contained within "".
  commandPrefix: "!"

  # The ID of the user responsible for managing the bot
  adminUser:

  # URL of Image displayed in place of movies that do not have a poster image
  defaultPoster: https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png

  # Base URL of the current YTS domain to look at for API requests
  # At the time of this commit, this is the current domain so this can be left as is
  ytsUrl: https://yts.mx


###########################
### Channel ID Settings ###
###########################
channels:

  # The ID of the channel for listing movies that can be upgraded to a better resolution
  upgradableMovieNotifications:

  # The ID of the channel for notifications about movies that have been upgraded to a better resolution
  upgradedMovieNotifications:

  # The ID of the channel for notifications about movies that have been added to the library
  newMovieNotifications:

  # The ID of the channel for notifications about movies that have been added to the waiting list
  newWaitlistItemNotifications:

  # The ID of the channel where the bots status message will be located
  botStatus:


#######################
### Folder Settings ###
#######################
folders:
  # The folder that the movies are stored in. Must end in trailing /
  movies:

  # The folder that is used for temporary file operations. Must end in trailing /
  temp:


##################################
### Plex Media Server Settings ###
##################################
plex:
  # The IP address of the Plex Media Server. If the bot is on the same network as the Plex server,
  # this can be the private/local IP address, otherwise this should be the public IP address of the server.
  ip:

  # The port of the Plex Media Server. Plex defaults to 32400 unless it is manually changed.
  port: 32400

  # The username to your plex.tv account
  username:

  # The password to your plex.tv account
  password:

  # The Client Identifier used to identify individual devices on a Plex account. This needs to be a unique
  # UUID. You can generate one with the following commands:
  #   Windows (Powershell): [guid]::NewGuid()
  #   macOS and Linux: uuidgen
  clientIdentifier:


################
### API Keys ###
################
apiKeys:
  # The API key for all requests to the OMDb API for getting IMDB OmdbMovie ID's.
  # You can get an API ket for this at http://www.omdbapi.com/ however it is recommended to purchase
  # at least the Basic plan through https://www.patreon.com/join/omdb to avoid API key limits.
  omdb:

  # Private API key for real-debrid which is where the movies get downloaded from
  # In order to get an API key, you will need to register an account at https://real-debrid.com
  # and purchase a premium offer. Generally the 180 day plan is the best deal. Once purchased, go
  # to https://real-debrid.com/apitoken to retrieve your token. You will need to purchase more time
  # before your plan expires otherwise the bot will not function.
  rdb:
